<div class="card shadow mb-4">
    <div class="card-header py-3">
        <!-- Button trigger modal -->
        <% if (!user.universityId) { %>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal">
                <i class="fas fa-plus"></i>
            </button>
        <% } %>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Universitas</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Place</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i < schedule.length; i++ ){ %>
                        <tr>
                            <td>
                                <%= i + 1 %>
                            </td>
                            <td>
                                <%= schedule[i].name %>
                            </td>
                            <% if (schedule[i].universityId === null) { %>
                                <td>
                                    Umum
                                </td>
                            <% } else { %>
                                <td>
                                    <%= schedule[i].universityId.name %>
                                </td>
                            <% } %>
                             
                            <td>
                                <%= schedule[i].timeStartDate %>
                            </td>
                            <td>
                                <%= schedule[i].timeEndDate %>
                            </td>
                            <td>
                                <%= schedule[i].place %> 
                            </td>
                            <td>
                                <% if (!schedule[i].universityId && !user.universityId) { %>
                                    <a href="javascript:void()" type="button"
                                    class="btn btn-warning btn-circle btn-sm button-update"
                                    data-id="<%= schedule[i].id %>"
                                    data-name="<%= schedule[i].name %>"
                                    data-universityId="<%= null %>"
                                    data-time-start-date="<%= schedule[i].timeStartDate %>"
                                    data-time-end-date="<%= schedule[i].timeEndDate %>"
                                    >
                                    <i class="fas fa-edit"></i></a>
                                <% } else { %>
                                    <% if (schedule[i].universityId?.id === user.universityId || !user.universityId) { %>
                                        <a href="javascript:void()" type="button"
                                        class="btn btn-warning btn-circle btn-sm button-update"
                                        data-id="<%= schedule[i].id %>"
                                        data-name="<%= schedule[i].name %>"
                                        data-universityid="<%= schedule[i].universityId.id %>"
                                        data-time-start-date="<%= schedule[i].timeStartDate %>"
                                        data-time-end-date="<%= schedule[i].timeEndDate %>"
                                        data-place="<%= schedule[i].place %>"
                                        >
                                        <i class="fas fa-edit"></i></a>
                                    <% } %>
                                <% } %>
                                <% if (user.universityId == null) { %>
                                    <form action="/admin/schedule/<%= schedule[i].id %>?_method=DELETE" method="POST"
                                        style="display: inline;">
                                        <button type="submit" href="" class="btn btn-danger btn-circle btn-sm"><i
                                                class="fas fa-trash"></i></button>
                                    </form>
                                
                                <% } %>
                            </td>
                        </tr>
                    <% } %>
                </tbody>

            </table>
        </div>
    </div>
</div>