<div class="card shadow mb-4">
    <div class="card-header py-3">
        <!-- Button trigger modal -->
        <% if (!user.universityId) { %>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal">
                <i class="fas fa-plus"></i>
            </button>
        <% } %>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Username</th>
                        <th>University Role</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i < users.length; i++ ){ %>
                        <% if (users[i].universityId) { %>
                            <tr>
                                <td>
                                    <%= i + 1 %>
                                </td>
                                <td>
                                    <%= users[i].username %>
                                </td>
                                <td>
                                    <%= users[i].universityId?.name ? users[i].universityId.name : 'admin'  %>
                                </td>
                                <!-- Action field -->
                                <td>
                                    <!-- users contactId action field -->
                                    <!-- is User who have access cause universityId users field is the same with user session and has contactId -->
                                    <% if (user.universityId && (user.universityId === users[i].universityId.id && users[i].contactId)) { %>
                                        <a href="javascript:void()" type="button"
                                        class="btn btn-warning btn-circle btn-sm button-update"
                                        data-id="<%= users[i].contactId.id %>"
                                        data-name="<%= users[i].contactId.name %>"
                                        data-contact="<%= users[i].contactId.contact %>"
                                        data-univid="<%= users[i].universityId.id %>"
                                        >
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <% } %>
                                    <!-- is Admin -->
                                    <% if (!user.universityId) { %>
                                        <!-- is users field not has contactId so set the user to have contactId -->
                                        <% if (!users[i].contactId) { %>
                                            <form action="/admin/user/<%= users[i].id %>/<%= users[i].universityId.id %>?_method=PUT" method="POST"
                                                style="display: inline;"
                                                >
                                                <button type="submit" href="" class="btn btn-info btn-sm">Set as contact person</button>
                                            </form>
                                        <!-- is users field has contactId so set the user to edit or remove contactId -->
                                        <% } else { %>
                                            <!-- edit -->
                                            <a href="javascript:void()" type="button"
                                            class="btn btn-warning btn-circle btn-sm button-update"
                                            data-id="<%= users[i].contactId.id %>"
                                            data-name="<%= users[i].contactId.name %>"
                                            data-contact="<%= users[i].contactId.contact %>"
                                            data-position="<%= users[i].contactId.position %>"
                                            data-univid="<%= users[i].universityId.id %>"
                                            >
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <!-- remove -->
                                            <form action="/admin/user/<%= users[i].id %>/<%= users[i].universityId.id %>?_method=PUT" method="POST"
                                                style="display: inline;">
                                                <button type="submit" href="" class="btn btn-danger btn-sm">Unlink contact person</button>
                                            </form>
                                        <% } %>
                                        
                                        <!-- delete user -->
                                        <form action="/admin/user/<%= users[i].id %>?_method=DELETE" method="POST"
                                            style="display: inline;">
                                            <button type="submit" href="" class="btn btn-danger btn-circle btn-sm"><i
                                                    class="fas fa-trash"></i></button>
                                        </form>
                                    <% } %>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>

            </table>
        </div>
    </div>
</div>